@import "../assets/vendors/theme/main";

// helpers

// padding
.p-l-5 {
  padding-left: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

// margins
.m-l-5 {
  margin-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}
